*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: poppins;
    color: var(--white-color);
    list-style: none;
    
}

body{
  background-color: var(--secondary-color);
}

:root{
    --primary-color: #069B77;
    --secondary-color: #2C2E31;
    --white-color: #fff;
    --lg-width: 85%;
    --sm-width: 95%;
    --tertiary-color: #353E3C;
}

.container{
    width: 85%;
    margin: 0 auto;
}


h3{
    font-size: 32px;
  }

  p{
    font-size: 20px;
  }

  small{
    font-size: 16px;
    margin: 1rem 0;
  }

  
  .serve{
    width: 60%;
    margin: 0 auto;
  }

  .btn{
    display: flex;
  }

  .btn button{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 9px;
    padding: 12px 30px;
    margin-top: 10px;
  }




@media screen and (max-width: 480px) {
    h3{
        font-size: 28px;
      }
    
      p{
        font-size: 17px;
      }
    
      small{
        font-size: 14px;
        
      }

      .container{
        width: 90%;
    }

    .serve{
        width: 98%;
        margin: 0 auto;
      }
}